#dash-search {
    text-align: center;
    margin: 1em;
}

#dash-search > input {
    width: 30%;
}

#dash-chart {
    height: 30vh;
    margin: 1em;
}

#dash-workspaces {
    margin: 1em;
}

#add-workspace-popup {
    position: fixed;
    top: 35vh;
    left: 35vw;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 2px black solid;
    border-radius: 0.5em;
    background-color: var(--niceGrey);
    height: 30vh;
    width: 30vw;
    padding: 2em;
}

#add-workspace-popup > p {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    margin: 0;
}

#add-workspace-popup > textarea {
    flex-grow: 1;
    resize: none;
}