#landing-page {
    display: flex;
    justify-content: space-between;
    gap: 10%;
    align-items: center;
    height: 100%;
}

#info {
    flex: 1 1 0;
}

span.tick::before {
    content: '\2713';
    font-weight: bold;
    display: inline-block;
    color: green;
    padding: 0 1em;
}

#landing-img {
    text-align: center;
    height: 75%;
    aspect-ratio: 1/1;
    background-color: lightgrey;
}